<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.campus.dao.mapper.web.sys.SysDoctorMapper">

  <resultMap id="BaseResultMap" type="com.huiyi.campus.dao.entity.sys.SysDoctorEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="desk_id" jdbcType="INTEGER" property="deskId"/>
    <result column="desk_name" jdbcType="VARCHAR" property="deskName"/>
    <result column="doctor_state" jdbcType="INTEGER" property="doctorState"/>
    <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
  </resultMap>

  <!-- 查询所有医生 -->
  <select id="selectAllDoctor" parameterType="com.huiyi.campus.dao.entity.sys.SysDoctorEntity" resultMap="BaseResultMap">
    select sd.id, sd.doctor_name, sd.create_time, sd.update_time, sd.desk_id, sd.doctor_state, sd.introduce, sk.desk_name
        from sys_doctor sd left join sys_desk sk on sd.desk_id=sk.id
            where 1=1
              <if test="doctorName != null and doctorName != ''">
                and sd.doctor_name=#{doctorName,jdbcType=VARCHAR}
              </if>
  </select>

  <!-- 新增医生 -->
  <insert id="insertDoctorInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.huiyi.campus.dao.entity.sys.SysDoctorEntity">
    insert into sys_doctor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deskId != null">
        desk_id,
      </if>
      <if test="doctorState != null">
        doctor_state,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deskId != null">
        #{deskId,jdbcType=INTEGER},
      </if>
      <if test="doctorState != null">
        #{doctorState,jdbcType=INTEGER},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 修改医生 -->
  <update id="updateDoctorInfo" parameterType="com.huiyi.campus.dao.entity.sys.SysDoctorEntity">
    update sys_doctor
    <set>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deskId != null">
        desk_id=#{deskId,jdbcType=INTEGER},
      </if>
      <if test="doctorState != null">
        doctor_state=#{doctorState,jdbcType=INTEGER},
      </if>
      <if test="introduce != null">
        introduce=#{introduce,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 删除医生 -->
  <delete id="deleteDoctorInfo" parameterType="java.lang.Integer">
    delete from sys_doctor where id = #{id,jdbcType=INTEGER}
  </delete>

</mapper>