<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.campus.dao.mapper.web.sys.SysGradeClassMapper">
    <resultMap id="BaseResultMap" type="com.huiyi.campus.dao.entity.sys.SysGradeClassEntity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="grade_parent_id" jdbcType="VARCHAR" property="gradeParentId"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
                , class_name, grade_parent_id, create_user, create_time, update_user, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_grade_class
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from sys_grade_class
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.huiyi.campus.dao.entity.sys.SysGradeClassEntity">
        insert into sys_grade_class (id, class_name, grade_parent_id,
                                     create_user, create_time, update_user,
                                     update_time)
        values (#{id,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{gradeParentId,jdbcType=VARCHAR},
                #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.huiyi.campus.dao.entity.sys.SysGradeClassEntity">
        insert into sys_grade_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="className != null">
                class_name,
            </if>
            <if test="gradeParentId != null">
                grade_parent_id,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="className != null">
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="gradeParentId != null">
                #{gradeParentId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.campus.dao.entity.sys.SysGradeClassEntity">
        update sys_grade_class
        <set>
            <if test="className != null">
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test="gradeParentId != null">
                grade_parent_id = #{gradeParentId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huiyi.campus.dao.entity.sys.SysGradeClassEntity">
        update sys_grade_class
        set class_name      = #{className,jdbcType=VARCHAR},
            grade_parent_id = #{gradeParentId,jdbcType=VARCHAR},
            create_user     = #{createUser,jdbcType=VARCHAR},
            create_time     = #{createTime,jdbcType=TIMESTAMP},
            update_user     = #{updateUser,jdbcType=VARCHAR},
            update_time     = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <!--根据年级查询班级-->
    <select id="selectGrdeClassList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_grade_class
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <!--根据年级ID查询班级-->
    <select id="selectClassByGradeList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_grade_class where grade_parent_id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>