<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.campus.dao.mapper.web.sys.SysSchoolMapper">
    <resultMap id="BaseResultMap" type="com.huiyi.campus.dao.entity.sys.SysSchoolEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="school_address" jdbcType="VARCHAR" property="schoolAddress"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="organ_id" jdbcType="INTEGER" property="organId"/>
        <result column="organ_name" jdbcType="VARCHAR" property="organName"/>
    </resultMap>

    <!-- 查询学校 -->
    <select id="selectAllSchool" resultMap="BaseResultMap">
        select s.id,s.school_name,s.school_address,s.create_time,s.organ_id,so.organ_name
        from sys_school s left join sys_organ so on s.organ_id=so.id
        <where>
            <if test="sysSchool.id != null and sysSchool.id != ''">
                s.id = #{sysSchool.id,jdbcType=INTEGER}
            </if>
            <if test="sysSchool.schoolName != null and sysSchool.schoolName != ''">
                and s.school_name like CONCAT('%', #{sysSchool.schoolName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="sysSchool.schoolAddress != null and sysSchool.schoolAddress != ''">
                and s.school_address like CONCAT('%', #{sysSchool.schoolAddress,jdbcType=VARCHAR}, '%')
            </if>
            <if test="sysSchool.organId != null and sysSchool.organId != null">
                and s.organ_id = #{sysSchool.organId,jdbcType=INTEGER}
            </if>
            <if test="list != null and list.size() > 0">
                and s.organ_id in (
                <foreach collection="list" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
        </where>
    </select>

    <!-- 通过机构ID删除学校 -->
    <delete id="deleteSchoolByOrganId" parameterType="java.lang.Integer">
        delete
        from sys_school
        <choose>
            <when test="id != null">
                where organ_id = #{id,jdbcType=INTEGER}
            </when>
            <otherwise>
                where 1 > 2
            </otherwise>
        </choose>
    </delete>

    <!-- 新增学校 -->
    <insert id="insertSchoolInfo" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.huiyi.campus.dao.entity.sys.SysSchoolEntity">
        insert into sys_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolName != null">
                school_name,
            </if>
            <if test="schoolAddress != null">
                school_address,
            </if>
            <if test="organId != null">
                organ_id,
            </if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolName != null">
                #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="schoolAddress != null">
                #{schoolAddress,jdbcType=VARCHAR},
            </if>
            <if test="organId != null">
                #{organId,jdbcType=INTEGER},
            </if>
            now(),
        </trim>
    </insert>

    <!-- 修改学校 -->
    <update id="updateSchoolInfo" parameterType="com.huiyi.campus.dao.entity.sys.SysSchoolEntity">
        update sys_school
        <set>
            <if test="schoolName != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="schoolAddress != null">
                school_address = #{schoolAddress,jdbcType=VARCHAR},
            </if>
            <if test="organId != null">
                organ_id = #{organId,jdbcType=INTEGER},
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <!-- 删除学校 -->
    <delete id="deleteSchoolInfo" parameterType="java.lang.Integer">
        delete
        from sys_school
        <choose>
            <when test="id != null">
                where id = #{id,jdbcType=INTEGER}
            </when>
            <otherwise>
                where 1 > 2
            </otherwise>
        </choose>
    </delete>

    <!-- 通过机构ID查询学校ID -->
    <select id="selectIdByOrganId" resultType="java.lang.Integer">
        select id from sys_school
        <choose>
            <when test="list != null and list.size() > 0">
                <where>
                    <if test="schoolId != null and schoolId != ''">
                        id =  #{schoolId,jdbcType=INTEGER}
                    </if>
                    and organ_id in (
                    <foreach collection="list" item="item" separator=",">
                        #{item}
                    </foreach>
                    )
                </where>
            </when>
            <otherwise>
                where 1 > 2
            </otherwise>
        </choose>
    </select>

    <!--根据学校ID查询归属学校-->
    <select id="selectSchoolBySchoolId" resultMap="BaseResultMap">
        SELECT school.id,
               school.school_name,
               school.school_address,
               school.organ_id,
               school.create_time,
               school.update_time
        FROM sys_school school
        WHERE school.id = #{schoolId,jdbcType=INTEGER}
    </select>

    <!--根据教育局ID与用户ID查询学校-->
    <select id="selectSchoolByUserIdAndOrganId" resultMap="BaseResultMap">
        SELECT school.id, school.school_name, school.school_address, school.organ_id,school.create_time,
        school.update_time
        FROM sys_school school
        INNER JOIN sys_user u ON school.organ_id = u.organ_id
        <where>
            <if test="userId != null">
                u.id = #{userId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <!--根据机构id查询学校-->
    <select id="selectSchoolByOrganId" resultMap="BaseResultMap">
        SELECT school.id,
               school.school_name,
               school.school_address,
               school.organ_id,
               school.create_time,
               school.update_time
        FROM sys_school school
        WHERE school.organ_id = #{organId,jdbcType=INTEGER}
    </select>
    <!--根据机构ID与学校ID查询学校-->
    <select id="selectSchoolStrBySchoolId" resultType="java.lang.Integer">
        select id from sys_school
        <choose>
            <when test="orgIdStr != null and orgIdStr.size() > 0">
                where organ_id in (
                <foreach collection="orgIdStr" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </when>
            <when test="schoolId != null and schoolId != 0">
                AND where id=#{schoolId,jdbcType=INTEGER} or id=#{schoolId,jdbcType=INTEGER}
            </when>
            <otherwise>
                where 1 > 2
            </otherwise>
        </choose>
    </select>

    <!-- <select id="selectByOrganId" resultMap="BaseResultMap">
         school.id,
         school.school_name,
         school.school_address,
         school.organ_id,
         school.create_time,
         school.update_time
         FROM sys_school school
         <where>
             1=1
             <if test="organId != null">
                 and school.organ_id = #{organId,jdbcType=INTEGER}
             </if>
             <if test="id != null">
                 AND id = #{id,jdbcType=INTEGER}
             </if>
         </where>
     </select>-->

    <!-- <select id="selectOrganByOrganId" resultMap="BaseResultMap">
         SELECT school.id,
                school.school_name,
                school.school_address,
                school.organ_id,
                school.create_time,
                school.update_time
     </select>-->
</mapper>