<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.campus.dao.mapper.web.sys.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.huiyi.campus.dao.entity.sys.SysUserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="last_visit" jdbcType="TIMESTAMP" property="lastVisit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!-- 删除用户信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update sys_user set del_flag=1 where id=#{id}
  </delete>

  <!-- 新增用户信息 -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.huiyi.campus.dao.entity.sys.SysUserEntity">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
  </insert>

  <!-- 修改用户信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.campus.dao.entity.sys.SysUserEntity">
    update sys_user
    <set>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="lastVisit != null">
        last_visit = #{lastVisit},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and del_flag=0
  </update>

  <!-- 通过昵称查询用户密码 -->
  <select id="selectUserInfoByNickName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id,pass_word from sys_user where del_flag=0
      <if test="nickName != null and nickName != ''">
        and nick_name=#{nickName}
      </if>
  </select>

  <!-- 通过昵称修改用户密码 -->
  <update id="updatePwdByNickName" parameterType="com.huiyi.campus.dao.dto.sys.UpdatePwdDto">
    update sys_user set pass_word=#{newPwd} where del_flag=0
      <if test="nickName != null and nickName != ''">
        and nick_name=#{nickName}
      </if>
  </update>

  <!-- 查询所有用户信息 -->
  <select id="selectAllUserInfo" parameterType="com.huiyi.campus.dao.entity.sys.SysUserEntity" resultMap="BaseResultMap">
    select id,nick_name,user_name,phone,sex,last_visit from sys_user where del_flag=0
      <if test="nickName != null and nickName != ''">
        and nick_name=#{nickName}
      </if>
      <if test="phone != null and phone != ''">
        and phone=#{phone}
      </if>
  </select>

</mapper>