<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.huiyi.campus.dao.mapper.web.phy.PhyItemResultMapper">
    <resultMap id="BaseResultMap" type="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="phy_health_id" jdbcType="VARCHAR" property="phyHealthId"/>
        <result column="rptunitid" jdbcType="INTEGER" property="rptunitid"/>
        <result column="rpt_itemid" jdbcType="INTEGER" property="rptItemid"/>
        <result column="result_num" jdbcType="DECIMAL" property="resultNum"/>
        <result column="result_str" jdbcType="VARCHAR" property="resultStr"/>
        <result column="result_txt" jdbcType="VARCHAR" property="resultTxt"/>
        <result column="result_unit" jdbcType="VARCHAR" property="resultUnit"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="extend1" jdbcType="VARCHAR" property="extend1"/>
        <result column="extend2" jdbcType="VARCHAR" property="extend2"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
                , phy_health_id, rptunitid, rpt_itemid, result_num, result_str, result_txt, result_unit,
    create_time, create_user, update_time, update_user, extend1, extend2
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from phy_item_result
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from phy_item_result
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
        insert into phy_item_result (id, phy_health_id, rptunitid,
                                     rpt_itemid, result_num, result_str,
                                     result_txt, result_unit, create_time,
                                     create_user, update_time, update_user,
                                     extend1, extend2)
        values (#{id,jdbcType=VARCHAR}, #{phyHealthId,jdbcType=VARCHAR}, #{rptunitid,jdbcType=INTEGER},
                #{rptItemid,jdbcType=INTEGER}, #{resultNum,jdbcType=DECIMAL}, #{resultStr,jdbcType=VARCHAR},
                #{resultTxt,jdbcType=VARCHAR}, #{resultUnit,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
                #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
        insert into phy_item_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="phyHealthId != null">
                phy_health_id,
            </if>
            <if test="rptunitid != null">
                rptunitid,
            </if>
            <if test="rptItemid != null">
                rpt_itemid,
            </if>
            <if test="resultNum != null">
                result_num,
            </if>
            <if test="resultStr != null">
                result_str,
            </if>
            <if test="resultTxt != null">
                result_txt,
            </if>
            <if test="resultUnit != null">
                result_unit,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="extend1 != null">
                extend1,
            </if>
            <if test="extend2 != null">
                extend2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="phyHealthId != null">
                #{phyHealthId,jdbcType=VARCHAR},
            </if>
            <if test="rptunitid != null">
                #{rptunitid,jdbcType=INTEGER},
            </if>
            <if test="rptItemid != null">
                #{rptItemid,jdbcType=INTEGER},
            </if>
            <if test="resultNum != null">
                #{resultNum,jdbcType=DECIMAL},
            </if>
            <if test="resultStr != null">
                #{resultStr,jdbcType=VARCHAR},
            </if>
            <if test="resultTxt != null">
                #{resultTxt,jdbcType=VARCHAR},
            </if>
            <if test="resultUnit != null">
                #{resultUnit,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="extend1 != null">
                #{extend1,jdbcType=VARCHAR},
            </if>
            <if test="extend2 != null">
                #{extend2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
        update phy_item_result
        <set>
            <if test="phyHealthId != null">
                phy_health_id = #{phyHealthId,jdbcType=VARCHAR},
            </if>
            <if test="rptunitid != null">
                rptunitid = #{rptunitid,jdbcType=INTEGER},
            </if>
            <if test="rptItemid != null">
                rpt_itemid = #{rptItemid,jdbcType=INTEGER},
            </if>
            <if test="resultNum != null">
                result_num = #{resultNum,jdbcType=DECIMAL},
            </if>
            <if test="resultStr != null">
                result_str = #{resultStr,jdbcType=VARCHAR},
            </if>
            <if test="resultTxt != null">
                result_txt = #{resultTxt,jdbcType=VARCHAR},
            </if>
            <if test="resultUnit != null">
                result_unit = #{resultUnit,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="extend1 != null">
                extend1 = #{extend1,jdbcType=VARCHAR},
            </if>
            <if test="extend2 != null">
                extend2 = #{extend2,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
        update phy_item_result
        set phy_health_id = #{phyHealthId,jdbcType=VARCHAR},
            rptunitid     = #{rptunitid,jdbcType=INTEGER},
            rpt_itemid    = #{rptItemid,jdbcType=INTEGER},
            result_num    = #{resultNum,jdbcType=DECIMAL},
            result_str    = #{resultStr,jdbcType=VARCHAR},
            result_txt    = #{resultTxt,jdbcType=VARCHAR},
            result_unit   = #{resultUnit,jdbcType=VARCHAR},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            create_user   = #{createUser,jdbcType=VARCHAR},
            update_time   = #{updateTime,jdbcType=TIMESTAMP},
            update_user   = #{updateUser,jdbcType=VARCHAR},
            extend1       = #{extend1,jdbcType=VARCHAR},
            extend2       = #{extend2,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <!--入库检验项目结果-->
    <insert id="insertSelectiveList">
        <foreach collection="list" item="item" index="index"
                 separator=";">
            insert into phy_item_result
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null">
                    id,
                </if>
                <if test="item.phyHealthId != null">
                    phy_health_id,
                </if>
                <if test="item.rptunitid != null">
                    rptunitid,
                </if>
                <if test="item.rptItemid != null">
                    rpt_itemid,
                </if>
                <if test="item.resultNum != null">
                    result_num,
                </if>
                <if test="item.resultStr != null">
                    result_str,
                </if>
                <if test="item.resultTxt != null">
                    result_txt,
                </if>
                <if test="item.resultUnit != null">
                    result_unit,
                </if>
                <if test="item.createTime != null">
                    create_time,
                </if>
                <if test="item.createUser != null">
                    create_user,
                </if>
                <if test="item.updateTime != null">
                    update_time,
                </if>
                <if test="item.updateUser != null">
                    update_user,
                </if>
                <if test="item.extend1 != null">
                    extend1,
                </if>
                <if test="item.extend2 != null">
                    extend2,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.id != null">
                    #{item.id,jdbcType=VARCHAR},
                </if>
                <if test="item.phyHealthId != null">
                    #{item.phyHealthId,jdbcType=VARCHAR},
                </if>
                <if test="item.rptunitid != null">
                    #{item.rptunitid,jdbcType=INTEGER},
                </if>
                <if test="item.rptItemid != null">
                    #{item.rptItemid,jdbcType=INTEGER},
                </if>
                <if test="item.resultNum != null">
                    #{item.resultNum,jdbcType=DECIMAL},
                </if>
                <if test="item.resultStr != null">
                    #{item.resultStr,jdbcType=VARCHAR},
                </if>
                <if test="item.resultTxt != null">
                    #{item.resultTxt,jdbcType=VARCHAR},
                </if>
                <if test="item.resultUnit != null">
                    #{item.resultUnit,jdbcType=VARCHAR},
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.createUser != null">
                    #{item.createUser,jdbcType=VARCHAR},
                </if>
                <if test="item.updateTime != null">
                    #{item.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updateUser != null">
                    #{item.updateUser,jdbcType=VARCHAR},
                </if>
                <if test="item.extend1 != null">
                    #{item.extend1,jdbcType=VARCHAR},
                </if>
                <if test="item.extend2 != null">
                    #{item.extend2,jdbcType=VARCHAR},
                </if>
            </trim>
        </foreach>
    </insert>

    <update id="updateItemResultList">
        <foreach collection="list" item="item" index="index"
                 separator=";">
            update phy_item_result
            <set>
                <if test="item.phyHealthId != null">
                    phy_health_id = #{item.phyHealthId,jdbcType=VARCHAR},
                </if>
                <if test="item.rptunitid != null">
                    rptunitid = #{item.rptunitid,jdbcType=INTEGER},
                </if>
                <if test="item.rptItemid != null">
                    rpt_itemid = #{item.rptItemid,jdbcType=INTEGER},
                </if>
                <if test="item.resultNum != null">
                    result_num = #{item.resultNum,jdbcType=DECIMAL},
                </if>
                <if test="item.resultStr != null">
                    result_str = #{item.resultStr,jdbcType=VARCHAR},
                </if>
                <if test="item.resultTxt != null">
                    result_txt = #{item.resultTxt,jdbcType=VARCHAR},
                </if>
                <if test="item.resultUnit != null">
                    result_unit = #{item.resultUnit,jdbcType=VARCHAR},
                </if>
                <if test="item.createTime != null">
                    create_time = #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.createUser != null">
                    create_user = #{item.createUser,jdbcType=VARCHAR},
                </if>
                <if test="item.updateTime != null">
                    update_time = #{item.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updateUser != null">
                    update_user = #{item.updateUser,jdbcType=VARCHAR},
                </if>
                <if test="item.extend1 != null">
                    extend1 = #{item.extend1,jdbcType=VARCHAR},
                </if>
                <if test="item.extend2 != null">
                    extend2 = #{item.extend2,jdbcType=VARCHAR},
                </if>
            </set>
            where id = #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>
    <!--<select id="selectLiverListByHealthId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM phy_item_result WHERE phy_health_id = #{phyHealthId,jdbcType=VARCHAR}
        AND rptunitid = #{rptunitid,jdbcType=INTEGER}
    </select>-->
    <!--根据健康ID查询-->
    <select id="selectItemResultByHeathId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM phy_item_result WHERE id = #{id,jdbcType=VARCHAR}
    </select>
    <!--查询健康检验项目-->
    <select id="selectItemListByHealthIdAndRptunitId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM phy_item_result WHERE phy_health_id = #{phyHealthId,jdbcType=VARCHAR}
        AND rptunitid = #{rptunitid,jdbcType=INTEGER}
    </select>
</mapper>