<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.campus.dao.mapper.web.phy.PhyItemResultMapper">
  <resultMap id="BaseResultMap" type="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="phy_health_id" jdbcType="VARCHAR" property="phyHealthId" />
    <result column="rptunitid" jdbcType="INTEGER" property="rptunitid" />
    <result column="rpt_itemid" jdbcType="INTEGER" property="rptItemid" />
    <result column="result_num" jdbcType="INTEGER" property="resultNum" />
    <result column="result_str" jdbcType="VARCHAR" property="resultStr" />
    <result column="result_txt" jdbcType="VARCHAR" property="resultTxt" />
    <result column="result_unit" jdbcType="VARCHAR" property="resultUnit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="extend1" jdbcType="VARCHAR" property="extend1" />
    <result column="extend2" jdbcType="VARCHAR" property="extend2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phy_health_id, rptunitid, rpt_itemid, result_num, result_str, result_txt, result_unit, 
    create_time, create_user, update_time, update_user, extend1, extend2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from phy_item_result
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from phy_item_result
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
    insert into phy_item_result (id, phy_health_id, rptunitid, 
      rpt_itemid, result_num, result_str, 
      result_txt, result_unit, create_time, 
      create_user, update_time, update_user, 
      extend1, extend2)
    values (#{id,jdbcType=VARCHAR}, #{phyHealthId,jdbcType=VARCHAR}, #{rptunitid,jdbcType=INTEGER}, 
      #{rptItemid,jdbcType=INTEGER}, #{resultNum,jdbcType=INTEGER}, #{resultStr,jdbcType=VARCHAR}, 
      #{resultTxt,jdbcType=VARCHAR}, #{resultUnit,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
    insert into phy_item_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phyHealthId != null">
        phy_health_id,
      </if>
      <if test="rptunitid != null">
        rptunitid,
      </if>
      <if test="rptItemid != null">
        rpt_itemid,
      </if>
      <if test="resultNum != null">
        result_num,
      </if>
      <if test="resultStr != null">
        result_str,
      </if>
      <if test="resultTxt != null">
        result_txt,
      </if>
      <if test="resultUnit != null">
        result_unit,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="extend1 != null">
        extend1,
      </if>
      <if test="extend2 != null">
        extend2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="phyHealthId != null">
        #{phyHealthId,jdbcType=VARCHAR},
      </if>
      <if test="rptunitid != null">
        #{rptunitid,jdbcType=INTEGER},
      </if>
      <if test="rptItemid != null">
        #{rptItemid,jdbcType=INTEGER},
      </if>
      <if test="resultNum != null">
        #{resultNum,jdbcType=INTEGER},
      </if>
      <if test="resultStr != null">
        #{resultStr,jdbcType=VARCHAR},
      </if>
      <if test="resultTxt != null">
        #{resultTxt,jdbcType=VARCHAR},
      </if>
      <if test="resultUnit != null">
        #{resultUnit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
    update phy_item_result
    <set>
      <if test="phyHealthId != null">
        phy_health_id = #{phyHealthId,jdbcType=VARCHAR},
      </if>
      <if test="rptunitid != null">
        rptunitid = #{rptunitid,jdbcType=INTEGER},
      </if>
      <if test="rptItemid != null">
        rpt_itemid = #{rptItemid,jdbcType=INTEGER},
      </if>
      <if test="resultNum != null">
        result_num = #{resultNum,jdbcType=INTEGER},
      </if>
      <if test="resultStr != null">
        result_str = #{resultStr,jdbcType=VARCHAR},
      </if>
      <if test="resultTxt != null">
        result_txt = #{resultTxt,jdbcType=VARCHAR},
      </if>
      <if test="resultUnit != null">
        result_unit = #{resultUnit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiyi.campus.dao.entity.phy.PhyItemResultEntity">
    update phy_item_result
    set phy_health_id = #{phyHealthId,jdbcType=VARCHAR},
      rptunitid = #{rptunitid,jdbcType=INTEGER},
      rpt_itemid = #{rptItemid,jdbcType=INTEGER},
      result_num = #{resultNum,jdbcType=INTEGER},
      result_str = #{resultStr,jdbcType=VARCHAR},
      result_txt = #{resultTxt,jdbcType=VARCHAR},
      result_unit = #{resultUnit,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>